.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  float: left;
}

.App-header {
  background-color: #222;
  color: white;
  display: inline-block
}

.App-header-text {
  color: white;
  font-size: 28px;
  float: left;
  margin-top: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Search-info-text {
  font-weight: bold;
  color: black;
  margin: 2px;
}

.Search-info-text-small {
  color: black;
  margin: 2px;
}

.searchField {
  font-size: 16px;
  width: auto;
  border: none;
  background-color: whitesmoke;
  padding: 10px;
  color: #3D315B;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.searchField:focus {
  border: 3px solid rgb(0, 255, 106);
}

.resultText {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0 0 15px;
  box-sizing: border-box;
  border: 1px solid black;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 12px;
  align-content: center
}

.resultText:focus {
  border: 4px solid blue;
}

.rightContent {
  margin-top: 30px;
  text-align: left;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: auto;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.displayRecordContainer {
  padding: 10px;
  overflow: auto;
}

.displayRecordHeaderContainer {
  margin-bottom: 15px
}

.displayRecordLabel {
  color: black;
  font-size: 13px;
  letter-spacing: 0.0625em;
}

.displayRecordLabelHeading {
  color: black;
  font-size: 18px;
  letter-spacing: 0.0625em;
  padding-bottom: 15px;
}

.displayRecordText {
  color: black;
  widows: 20px;
  display: block;
  text-align: left;
  font-size: 12px;
  padding-left: 40px;
  letter-spacing: 0.0625em;
}