.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  float: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-header-text {
  float: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Search-info-text { 
  font-weight:normal;
  margin-top: 5px;
  margin-bottom: 0px;
}

.Search-text { 
  font-weight:normal;
  margin-top: 5px;
  margin-bottom: 0px;
}

.Search-input-text {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.searchField {
  font-size: 16px;
  width: 400px;
  border: none;
  background-color: whitesmoke;
  padding: 10px;
  color: #3D315B;
}

.searchField:focus {
  border: 3px solid blue;
}


.resultText {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 5px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  pointer-events: none;
}

.resultText:focus {
  border: 3px solid blue;
 }
